!!! 5
%html
  %head
    %title Chrome packaged app
    %script{ src: '/assets/application.js' }
    %link{ rel: 'stylesheet', href: '/assets/application.css', type: 'text/css', media: 'screen' }
  %body
    %h1 Hello world
